# Financial Trends Analysis

This notebook analyzes financial trends across multiple companies using year-over-year changes in key financial metrics such as revenue and net income. We use Python and the Pandas library to group and calculate percentage changes, explore trends, and visualize insights.

### Objective:
- Calculate growth in revenue and net income year-over-year.
- Compare company performance over time.
- Identify key trends and anomalies.

##  Methodology

1. **Data Import**: The dataset was imported from a CSV file and cleaned.
2. **Data Cleaning**:
   - Stripped whitespace from column names.
   - Converted `Total Revenue` and `Net Income` to numeric values (removed currency symbols/commas).
   - Removed empty rows.
3. **Calculations**:
   - Used `groupby` and `pct_change()` to calculate year-over-year growth percentages.
4. **Grouping and Aggregation**:
   - Grouped data by `Company Names` and `Year` to extract insights.
5. **Visualization**:
   - Created line plots and bar charts to illustrate financial trends.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/ForageBCG10K.csv')

In [3]:
df.head()

,Unnamed: 0,2024,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2023,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,2022,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,(In millions),Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow
1,Microsoft,"245,122","88,136","512,163","243,686","118,548","211,915","72,361","411,976","205,753","87,582","198,270","72,738","364,840","198,298","89,035"
2,Tesla,"46,801","2,638","112,832","45,569","3,854","48,256","52,153","106,618","43,009","5,578","25,996","5,549","82,338","36,440","6,346"
3,Apple,"391,035","57,552","337,411","263,217","62,585","383,285","54,158","352,583","290,437","62,565","394,328","59,640","352,755","302,083","75,132"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = pd.read_csv('/content/Forage BCG 10K.csv')

In [7]:
df.head()

,Company Names,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Year,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Microsoft,"245,122","88,136","512,163","243,686","118,548","2,024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tesla,"46,801","2,638","112,832","45,569","3,854","2,024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apple,"391,035","57,552","337,411","263,217","62,585","2,024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Microsoft,"211,915","72,361","411,976","205,753","87,582","2,023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tesla,"48,256","52,153","106,618","43,009","5,578","2,023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.head().dropna()

Empty DataFrame
Columns: [Company Names, Total Revenue, Net Income, Total Assets, Total Liabilities , Cash Flow, Year, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15]
Index: []

In [9]:
df.dropna()

Empty DataFrame
Columns: [Company Names, Total Revenue, Net Income, Total Assets, Total Liabilities , Cash Flow, Year, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15]
Index: []

In [10]:
df = pd.read_csv('/content/ForageBCG10K(2).csv')

In [11]:
df.head()

,Company Names,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Year
0,Microsoft,"245,122","88,136","512,163","243,686","118,548","2,024"
1,Tesla,"46,801","2,638","112,832","45,569","3,854","2,024"
2,Apple,"391,035","57,552","337,411","263,217","62,585","2,024"
3,Microsoft,"211,915","72,361","411,976","205,753","87,582","2,023"
4,Tesla,"48,256","52,153","106,618","43,009","5,578","2,023"

In [12]:
df

,Company Names,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Year
0,Microsoft,"245,122","88,136","512,163","243,686","118,548","2,024"
1,Tesla,"46,801","2,638","112,832","45,569","3,854","2,024"
2,Apple,"391,035","57,552","337,411","263,217","62,585","2,024"
3,Microsoft,"211,915","72,361","411,976","205,753","87,582","2,023"
4,Tesla,"48,256","52,153","106,618","43,009","5,578","2,023"
5,Apple,"383,285","54,158","352,583","290,437","62,565","2,023"
6,Microsoft,"198,270","72,738","364,840","198,298","89,035","2,022"
7,Tesla,"25,996","5,549","82,338","36,440","6,346","2,022"
8,Apple,"394,328","59,640","352,755","302,083","75,132","2,022"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.dropna()

,Company Names,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Year
0,Microsoft,"245,122","88,136","512,163","243,686","118,548","2,024"
1,Tesla,"46,801","2,638","112,832","45,569","3,854","2,024"
2,Apple,"391,035","57,552","337,411","263,217","62,585","2,024"
3,Microsoft,"211,915","72,361","411,976","205,753","87,582","2,023"
4,Tesla,"48,256","52,153","106,618","43,009","5,578","2,023"
5,Apple,"383,285","54,158","352,583","290,437","62,565","2,023"
6,Microsoft,"198,270","72,738","364,840","198,298","89,035","2,022"
7,Tesla,"25,996","5,549","82,338","36,440","6,346","2,022"
8,Apple,"394,328","59,640","352,755","302,083","75,132","2,022"

##  Observations

- **Apple** consistently maintained high total revenue, with stable but modest growth over time.
- **Tesla** displayed the highest revenue growth fluctuations  including a spike over 1800% in one year due to a small revenue baseline the previous year.
- **Microsoft** showed steady growth in both revenue and net income.
- In 2022, all companies experienced a dip in growth, possibly due to macroeconomic factors (e.g., market corrections or post-COVID effects).
- Net income growth was generally more volatile than revenue growth across all companies.

In [14]:
df=df.dropna()
df

,Company Names,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Year
0,Microsoft,"245,122","88,136","512,163","243,686","118,548","2,024"
1,Tesla,"46,801","2,638","112,832","45,569","3,854","2,024"
2,Apple,"391,035","57,552","337,411","263,217","62,585","2,024"
3,Microsoft,"211,915","72,361","411,976","205,753","87,582","2,023"
4,Tesla,"48,256","52,153","106,618","43,009","5,578","2,023"
5,Apple,"383,285","54,158","352,583","290,437","62,565","2,023"
6,Microsoft,"198,270","72,738","364,840","198,298","89,035","2,022"
7,Tesla,"25,996","5,549","82,338","36,440","6,346","2,022"
8,Apple,"394,328","59,640","352,755","302,083","75,132","2,022"

In [16]:
df.to_csv("/content/Forage BCG 10Kold3.csv")

In [17]:
df.columns

Index(['Company Names', 'Total Revenue', 'Net Income', 'Total Assets',
       'Total Liabilities ', 'Cash Flow', 'Year'],
      dtype='object')

In [18]:
df["Company Names"]

0    Microsoft
1        Tesla
2        Apple
3    Microsoft
4        Tesla
5        Apple
6    Microsoft
7        Tesla
8        Apple
Name: Company Names, dtype: object

In [20]:
df["Company Names"].unique()

array(['Microsoft', 'Tesla', 'Apple'], dtype=object)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/ForageBCG10K(2).csv')

In [8]:
df.columns = df.columns.str.strip()

In [9]:
# Remove commas and currency symbols, then convert to float
df['Total Revenue'] = df['Total Revenue'].replace('[\$,]', '', regex=True).astype(float)
df['Net Income'] = df['Net Income'].replace('[\$,]', '', regex=True).astype(float)

In [10]:
df['Revenue Growth (%)'] = df.groupby('Company Names')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company Names')['Net Income'].pct_change() * 100

In [11]:
print(df[['Company Names', 'Total Revenue', 'Net Income', 'Revenue Growth (%)', 'Net Income Growth (%)']].head())

  Company Names  Total Revenue  Net Income  Revenue Growth (%)  \
0     Microsoft       245122.0     88136.0                 NaN
1         Tesla        46801.0      2638.0                 NaN
2         Apple       391035.0     57552.0                 NaN
3     Microsoft       211915.0     72361.0          -13.547132
4         Tesla        48256.0     52153.0            3.108908

   Net Income Growth (%)
0                    NaN
1                    NaN
2                    NaN
3             -17.898475
4            1876.990144

In [12]:
df.head()

,Company Names,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Year,Revenue Growth (%),Net Income Growth (%)
0,Microsoft,245122.0,88136.0,"512,163","243,686","118,548","2,024",NaN,NaN
1,Tesla,46801.0,2638.0,"112,832","45,569","3,854","2,024",NaN,NaN
2,Apple,391035.0,57552.0,"337,411","263,217","62,585","2,024",NaN,NaN
3,Microsoft,211915.0,72361.0,"411,976","205,753","87,582","2,023",-13.547132,-17.898475
4,Tesla,48256.0,52153.0,"106,618","43,009","5,578","2,023",3.108908,1876.990144

In [13]:
print(df)

  Company Names  Total Revenue  Net Income Total Assets Total Liabilities  \
0     Microsoft       245122.0     88136.0      512,163           243,686
1         Tesla        46801.0      2638.0      112,832            45,569
2         Apple       391035.0     57552.0      337,411           263,217
3     Microsoft       211915.0     72361.0      411,976           205,753
4         Tesla        48256.0     52153.0      106,618            43,009
5         Apple       383285.0     54158.0      352,583           290,437
6     Microsoft       198270.0     72738.0      364,840           198,298
7         Tesla        25996.0      5549.0       82,338            36,440
8         Apple       394328.0     59640.0      352,755           302,083
9           NaN            NaN         NaN          NaN               NaN

  Cash Flow   Year  Revenue Growth (%)  Net Income Growth (%)
0   118,548  2,024                 NaN                    NaN
1     3,854  2,024                 NaN                    NaN
2    62,585  2,024                 NaN                    NaN
3    87,582  2,023          -13.547132             -17.898475
4     5,578  2,023            3.108908            1876.990144
5    62,565  2,023           -1.981920              -5.897276
6    89,035  2,022           -6.438902               0.520999
7     6,346  2,022          -46.128979             -89.360152
8    75,132  2,022            2.881146              10.122235
9       NaN    NaN                 NaN                    NaN

## Summary of Findings

- **Apple** had the highest average revenue over the years, while **Tesla** showed the most volatility in revenue growth.
- **Net income growth** was highly inconsistent across all companies, with Tesla showing a spike of over 1800% in 2023, likely due to a small baseline the year before.
- Total revenue across all companies dropped slightly in 2022 before rising again in 2024, indicating recovery or expansion.